<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Fitness app demo project">
    <meta name="author" content="Fitness app">
    <title>Fitness App</title>
</head>

<body>

<h3>Registration</h3>

<table>
    <tr>
        <td>Email:</td>
        <td>Name:</td>
        <td>Password:</td>
    </tr>

    <tr>
        <form action="/registerNewUser" th:object="${request}" method="post">
            <td><input type="text" th:field="${request.email}"/></td>
            <td><input type="text" th:field="${request.username}"/></td>
            <td><input type="text" th:field="${request.password}"/></td>
            <td>
                <input type="submit" value="Add User"/>
                <input type="reset" value="Clear"/>
            </td>
        </form>
    </tr>
</table>

<td th:if="${errors != null}">
    <tr th:each="error : ${errors}">
        <td th:text="${error.field}"/>
        <td th:text="${error.message}"/>
    </tr>
</td>

</body>

</html>