<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="e-Shop">
    <meta name="author" content="Planet Express">
    <title>Planet Express e-Shop</title>
</head>

<body>
<h2>Program menu</h2>
<a href="/listShopItems">List shop items</a> <br>
<a href="/searchItems">Search</a> <br>
<a href="/addItemToCart">Add item to cart</a> <br>
<a href="/removeItemFromCart">Remove item from cart</a> <br>
<a href="/listCartItems">List cart items</a> <br>
<a href="/buy">Buy</a> <br>
<a href="/addItemToShop">Add item to shop</a> <br>
<a href="/changeItemData">Change item data</a> <br>
<a href="/changeUserData">Change user data</a> <br>
<a href="/signIn">Sign in</a> <br>
<a href="/signUp">Sign up</a> <br>
<a href="/signOut">Sign out</a> <br>
<a href="/exit">Exit</a> <br>
</body>

</html>
