<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="e-Shop">
    <meta name="author" content="Planet Express">
    <title>Planet Express e-Shop</title>
</head>

<body>
<h2>Search item</h2>
<table th:if="${searchItemErrors != null}">
    <tr th:each="error : ${searchItemErrors}">
        <td th:text="${error.field}"></td>
        <td th:text="${error.errorCode}"></td>
        <td th:text="${error.message}"></td>
    </tr>
</table>
<h2>Results</h2>
<div th:if="${searchItemFoundItems != null and searchItemFoundItems.empty}">
    No results.
</div>
<div th:if="${searchItemFoundItems != null and !searchItemFoundItems.empty}">
    <table>
        <tr>
            <td>Name:</td>
            <td>Price:</td>
            <td>Quantity:</td>
        </tr>
        <tr th:each="item : ${searchItemFoundItems}">
            <td th:text="${item.name}"></td>
            <td th:text="${item.price}"></td>
            <td th:text="${item.availableQuantity}"></td>
        </tr>
    </table>
</div>
<form action="/" method="get">
    <input type="submit" value="Back" name="Submit"/>
</form>
</body>

</html>
