<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="e-Shop">
    <meta name="author" content="Planet Express">
    <title>Planet Express e-Shop</title>
</head>

<body>
<h2>Sign in</h2>
<table>
    <tr>
        <td>Login:</td>
        <td>Password:</td>
    </tr>
    <tr>
        <form action="/signIn" th:object="${request}" method="post">
            <td><input type="text" th:field="${request.loginName}"/></td>
            <td><input type="text" th:field="${request.password}"/></td>
            <td>
                <input type="submit" value="Sign in"/>
                <input type="reset" value="Clear"/>
            </td>
        </form>
    </tr>
</table>
<table th:if="${errors != null}">
    <tr th:each="error : ${errors}">
        <td th:text="${error.field}"></td>
        <td th:text="${error.errorCode}"></td>
        <td th:text="${error.message}"></td>
    </tr>
</table>
<form action="/" method="get">
    <input type="submit" value="Back" name="Submit"/>
</form>
</body>

</html>
