<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Servify demo project">
  <meta name="author" content="DreamTeamDevelopers">
  <title>Servify</title>
</head>
<body>

<h3>Delete detail</h3>

<table>
  <tr>
    <td>Detail ID:</td>
  </tr>

  <tr>
    <form action="/deleteDetail" th:object="${request}" method="post">
      <td><input type="text" th:field="${request.detailId}"/></td>
      <td>
        <input type="submit" value="Delete Detail"/>
        <input type="reset" value="Clear"/>
      </td>
    </form>
  </tr>

</table>

<td th:if="${errors != null}">
  <tr th:each="error : ${errors}">
    <td th:text="${error.field}" />
    <td th:text="${error.message}" />
  </tr>
</td>

<form action="/" method="get">
  <input type="submit" value="Go to main page" name="Submit" />
</form>

</body>

</html>