<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<!--  <link href="styles.css" rel="stylesheet">-->
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Servify App</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item" th:if="${loggedIn}">
        <a class="nav-link" href="/main-menu">Main menu</a>
      </li>
      <li class="nav-item" th:if="${loggedIn}">
        <a class="nav-link" href="/orders">Orders</a>
      </li>
      <li class="nav-item" th:unless="${loggedIn}">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item" th:unless="${loggedIn}">
        <a class="nav-link" href="/register">Register</a>
      </li>
      <li class="nav-item" th:if="${loggedIn}">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      <li class="nav-item" th:if="${loggedIn}">
<!--        <a class="nav-link" href="/orderPage">order Page Test</a>-->
        <a class="nav-link" href="/create">order Page Test</a>
      </li>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/test">New Test</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-4">
  <h4>Hello, <span th:text="${userName}"></span></h4>
  <h2>Welcome to Servify App!</h2>
  <p>This is the home page of Servify App. here you can paint your car or parts of it.</p>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
