<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Book Library demo project">
  <meta name="author" content="JavaGuru">
  <title>Book Library</title>
</head>

<body>

<h3>Program menu</h3>

<a href="/addDetailToList">Add detail to list</a> <br>
<a href="/removeDetailFromList">Remove detail from list</a> <br>
<a href="/showAllDetails">Show all details in the list</a> <br>
<a href="/searchDetail">Search detail</a> <br>
<a href="/registerUser">Register user</a> <br>

</body>

</html>