<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Servify demo project">
  <meta name="author" content="Servify">
  <title>Servify</title>
</head>

<body>

<h3>Program menu</h3>

<a href="/addDetail">Add detail to list</a> <br>
<a href="/removeDetailFromList">Remove detail from list</a> <br>
<a href="/showAllDetails">Show all details</a> <br>
<a href="/searchDetail">Search detail</a> <br>
<a href="/registerUser">Register user</a> <br>
<a href="/showAllUsers">Show All user</a> <br>

<form th:action="@{/logout}" method="post">
  <input type="submit" value="Sign Out"/>
</form>

</body>

</html>