<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Order page</h1>

    <form>
        <div class="form-group">
            <label for="detailsDropdown">Details:</label>
            <select class="form-control" id="detailsDropdown">
                <option th:each="detail : ${details}" th:value="${detail}" th:text="${detail}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="colorsDropdown">Colors:</label>
            <select class="form-control" id="colorsDropdown">
                <option th:each="color : ${colors}" th:value="${color}" th:text="${color}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="detailsCount">Details Count:</label>
            <input type="number" class="form-control" id="detailsCount" name="detailsCount">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <h2>Order List:</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Detail Type</th>
            <th>Detail Side</th>
            <th>Detail Price</th>
            <th>Color Id</th>
            <th>Count</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="orderItem  : ${order.orderItemsList}">
            <td th:text="${orderItem.detail.type}"></td>
            <td th:text="${orderItem.detail.side}"></td>
            <td th:text="${orderItem.detail.price}"></td>
            <td th:text="${orderItem.color.id}"></td>
            <td th:text="${orderItem.countDetail}"></td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>
