<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="e-Shop">
    <meta name="author" content="Planet Express">
    <title>Planet Express e-Shop</title>
</head>

<body>
<h2>Change item data</h2>
<table>
    <tr>
        <td>Id:</td>
        <td>Name:</td>
        <td>Price:</td>
        <td>Quantity:</td>
    </tr>
    <tr>
        <form action="/changeItemData" th:object="${request}" method="post">
            <td><input type="text" th:field="${request.itemId}"/></td>
            <td><input type="text" th:field="${request.newItemName}"/></td>
            <td><input type="text" th:field="${request.newPrice}"/></td>
            <td><input type="text" th:field="${request.newAvailableQuantity}"/></td>
            <td>
                <input type="submit" value="Change item"/>
                <input type="reset" value="Clear"/>
            </td>
        </form>
    </tr>
</table>
<table th:if="${errors != null}">
    <tr th:each="error : ${errors}">
        <td th:text="${error.field}"></td>
        <td th:text="${error.errorCode}"></td>
        <td th:text="${error.message}"></td>
    </tr>
</table>
<form action="/" method="get">
    <input type="submit" value="Back" name="Submit"/>
</form>
</body>

</html>
